* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.board {
  border: 15px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}
.box {
  flex: 1;
}

.board :nth-child(odd) :nth-child(odd),
.board :nth-child(even) :nth-child(even) {
  background-color: black;
}
