body {
  font-family: "Roboto", sens-serif;
  color: rgb(74, 84, 179);
  overflow-wrap: break-word; /*for responsiveness, else words were flowing out of their container when window is shrinked*/
}

legend {
  text-align: center;
  padding: 0px 40px;
}

legend div {
  font-size: 200%;
}

fieldset {
  border: 3px solid rgba(53, 47, 133, 0.747);
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* height: 100vh;
  overflow: scroll; both for height responsiveness.*/
}

.content {
  margin: 50px 15px 30px 20px;
}

.left-content {
  float: left;
  max-width: 40%;
  box-sizing: border-box;
}

.right-content {
  float: right;
  max-width: 55%;
  padding-left: 20px;
  border-left: 2px solid rgba(53, 47, 133, 0.747);
  box-sizing: border-box;
}

.block-heading {
  max-width: auto;
  font-size: 130%;
}

ul {
  padding: 0px;
  list-style-position: inside;
}

.block-para,
ul {
  font-size: 90%;
}

.contact-para-list li {
  list-style: none;
}

.left-content > p {
  margin-bottom: 15%;
}

.heading {
  font-family: "Courier New", Courier, monospace;
  font-size: 170%;
}

.block-sub-heading {
  font-weight: normal;
  font-size: 100%;
}

.right-sub-block {
  margin-bottom: 50px;
}

.right-content h1 {
  margin-bottom: 0px;
}

.right-content block {
  margin-top: 0px;
}

.right-content .block-heading,
.right-content .block-sub-heading {
  text-indent: 10px;
}

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-fix {
  zoom: 1;
}
