body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}
.container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100px;
  height: 100px;
  background-color: darkorchid;
  margin-bottom: 20px;
  margin-left: 20px;
}
