* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  box-shadow: 10px 10px 30px 2px rgba(43, 41, 41, 0.329);
  height: 90%;
  width: 30%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.image {
  height: 35%;
  background: center / cover url(./images/wallpaperflare.com_wallpaper.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.list {
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 15px 8px 15px;
  margin-top: 5px;
  overflow: auto;
}

.add-todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 8px 8px 8px;
}

.add-todo input {
  width: 85%;
  border: 2px solid rgba(148, 142, 142, 0.63);
  justify-self: flex-start;
  border-radius: 5px;
  padding: 8px;

  font-size: 15px;
}

::placeholder {
  color: rgba(148, 144, 144, 0.514);
}

.add-todo input:focus {
  outline-color: rgba(159, 71, 241, 0.767);
}
li {
  border: 2px solid rgba(236, 233, 233, 0.808);
  padding: 0 8px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 12%;
  border-radius: 8px;
}
.task {
  margin-left: 8px;
}
.trash {
  margin-left: auto;
}
.trash:hover {
  color: rgb(199, 6, 6);
}
.line-through {
  color: rgb(197, 193, 193);
  text-decoration: line-through;
}

.fa-circle,
.fa-check-circle,
.trash {
  color: rgb(167, 83, 245);
}
.pointed {
  cursor: pointer;
}
